.headernav{
    position: sticky;
    top: 0;
    z-index: 100;
}


.home{
  
    /* background-image:url(https://m.media-amazon.com/images/I/71oT8vw4TIL._SX3000_.jpg); */
/* background-repeat: no-repeat;
background-size:cover; */
height:100vh;

margin:0 auto;
/* display: flex;
flex-direction: column;
justify-content: center;
width:100%; */

}

.home_row{
    position: relative;
    top:-240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    
}


.home_image{
    width:100%;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
z-index: -1;
}