.product_rating{
    color:rgba(170, 125, 10, 0.992);
    font-weight: 500;
    font-size:x-large
}



.product{
    border: 2px solid grey;
    box-sizing: border-box;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 300px;
    min-width:150px;
    background: transparent;
    margin:20px;
    z-index: 1;
    width:100%;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 3px 1px 2px rgba(92, 92, 92, 0.314);
position: relative;
top:-80px
}


.product_img{
width:100%;
border-radius: 20px;
object-fit: contain;
margin:5px;
max-width: 150px;

/* width:100%;
max-height:200px; */

}
.product_info{
    height:100px;
    margin-bottom:15px;
}

.product > button{
    background-color: rgba(74, 74, 74, 0.697);
    color:aliceblue;
    border:none;
    padding:10px;
    border-radius: 30px;
}